<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/notiflix-1.9.1.min.css" />
  <script src="/js/notiflix-1.9.1.min.js"></script>
  <link href='/css/style.css' rel='stylesheet' />
  <script src="/js/utils.js"></script>
</head>

<body>
  <header class="app_header">
    <h1>Party Schedule</h1>
    <div class="username">
      {{#if user}}
        {{user.name}}
        <a href="/login/logout">Logout</a>
      {{/if}}
    </div>
  </header>

  <div class="main">
    {{{body}}}
  </div>

  <footer>
    &copy;2019 My Company
  </footer>
</body>

</html>
