<h2>{{title}}</h2>

<div class="login-container">
  <form method="POST" action="">
    <div class="field">
      <label for="id">Email</label>
      <input type="text" id="id" name="id" maxlength="20" />
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </div>
    {{#if message}}
      <div class="message">
        {{message}}
      </div>
    {{/if}}
    <div class="buttons">
      <button id="submit" name="button" type="submit" value="submit">Submit</button>
      <a href="/login/reset" style="font-size: 90%;">Forgot password...</a>
    </div>
  </form>
</div>
