<h2>{{title}}</h2>

<div class="reset-container">
  <h3 style="color:red;font-weight:bold;">Sorry, this function is not implemented yet.</h3>
  <form method="POST" action="">
    <div class="field">
      <label for="id">Email</label>
      <input type="text" id="id" name="id" maxlength="20" />
    </div>
    <div class="buttons">
      <button id="submit" name="button" value="submit" type="submit" disabled>Submit</button>
      <button id="back" name="button" value="back" type="submit">Go back</button>
    </div>
  </form>
</div>
