<h3>Users</h3>
<div class="userlist">
  <div class="buttons">
    <a href="/users/edit/0">Add New User</a>
  </div>
  {{#each users}}
    <a class="userlist-item" href="/users/edit/{{this.id}}">
      {{this.name}} <br />
      {{this.email}}
    </a>
  {{/each}}
</div>
