* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  height: 100vh;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: beige;
  display: grid;
  grid-template-rows: 4em auto 3em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.2em 0 0.6em;
}

a {
  color: #00b7ff;
}

.app_header {
  padding: 0.2em;
  background-color: #eee;
  color: #44f;
  display: grid;
  grid-template-areas:
    'a a a'
    'b c d';
  grid-template-columns: 1fr 4em 12em;
  grid-template-rows: 2em 1.4em;
}
.app_header h1 {
  font-size: 168%;
  font-weight: bold;
  grid-area: a;
}

.app_header .menu,
.app_header .username {
  padding-top: 0.4em;
  text-align: center;
  font-size: 90%;
}

.app_header .menu {
  grid-area: c;
}

.app_header .username {
  grid-area: d;
}

footer {
  padding: 1em 0.4em;
  background-color: #ccc;
  color: #444;
  font-size: 80%;
  text-align: center;
}

.main {
  padding: 20px;
  /* background-image: url('/android-chrome-512x512.png'); */
}

.login-container,
.reset-container {
  padding: 1em;
  width: 320px;
  margin: auto;
  background-color: #efefef;
  border: 3px solid #888;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.login-container form,
.reset-container form {
  display: grid;
  row-gap: 10px;
}

.login-container .field,
.reset-container .field {
  display: grid;
  grid-template-columns: 5em auto;
  column-gap: 10px;
}

.login-container .field label,
.reset-container .field label {
  text-align: right;
}

.login-container form .buttons,
.reset-container form .buttons {
  margin: 1em 0.6em;
  padding: 0.4em;
  text-align: center;
}

.login-container .message,
.reset-container .message {
  text-align: center;
  color: red;
  font-weight: bold;
}

.login-container form .buttons button,
.reset-container form .buttons button {
  margin: 0.2em 0.8em;
  padding: 0.4em;
  font-size: 120%;
  border-radius: 8px;
  cursor: pointer;
}

.calendar-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 1px;
  border: 2px solid blue;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1.4em;
  grid-auto-rows: 11vh;
  text-align: center;
  background-color: lightgray;
}

.calendar-item {
  border: none;
  background-color: #eee;
  color: #888;
}
.calendar-item.current {
  background-color: white;
}
.calendar-item-link {
  font-size: 200%;
}
.calendar-item-link a {
  text-decoration-line: none;
}

.calendar-header {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 110%;
}
.calendar-header.weekend {
  color: salmon;
}
.calendar-buttons {
  padding: 0 0 0.6em;
  text-align: center;
  font-size: 180%;
}

.events-datail .times {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 1em;
  border: #222 2px solid;
}

.events-datail .times .time {
  height: 4em;
  border-left: 1px dotted #aaa;
  background-color: lightgray;
  text-align: center;
}

.events-datail .times .time.hour {
  border-left: 1px solid #aaa;
}

.events-datail .times .time.header {
  height: 1.2em;
  border: none;
  border-bottom: #000 2px solid;
  background-color: #444;
  color: #fefefe;
  text-align: left;
}
.events-datail .times .time.header.hour {
  border-left: 1px solid #aaa;
  border-bottom: #000 2px solid;
}

.events-datail .times .time.available {
  background-color: white;
}

.events-datail .times .time.available,
.events-datail .times .time.admin {
  cursor: pointer;
}

.events-datail .times .time.booked {
  background-color: yellow;
  border: 2px solid blue;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

.events-datail .times .time.booked.selected {
  background-color: salmon;
}

.events-datail .times .time.booked.first {
  border-left: 2px solid blue;
}

.events-datail .times .time.booked.last {
  border-right: 2px solid blue;
}

.events-datail .form {
  margin: 2em 1em;
  padding: 1em 0.5em;
  background-color: #d3d299;
  border: 3px solid rgb(23, 61, 133);
  border-radius: 12px;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.events-datail form .field {
  width: 100%;
  margin-bottom: 0.8em;
}

.events-datail form .field label {
  display: inline-block;
  width: 20%;
  text-align: right;
}

.events-datail form .field input,
.events-datail form .field textarea,
.events-datail form .field select {
  width: 74%;
  font-size: 160%;
}

.events-datail form .field select {
  max-width: 8em;
}

.events-datail form .buttons {
  margin: 1em 0.6em;
  padding: 0.4em;
  text-align: center;
}

.events-datail form .buttons button {
  margin: 0.2em 1em;
  padding: 0.4em;
  font-size: 120%;
  border-radius: 8px;
  cursor: pointer;
}

.events-datail form .buttons button.save {
  font-weight: bold;
  color: blue;
}
.events-datail form .buttons button.delete {
  color: red;
}

.events-datail .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #aaa;
  opacity: 0.7;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

.userlist {
  width: 100%;
  padding: 0.4em;
  font-size: 140%;
  background-color: lightgray;
  display: grid;
  grid-template-rows: 2em;
  grid-auto-rows: 3.4em;
  gap: 8px;
}

.userlist-item {
  padding: 0.3em;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  color: #444;
  text-decoration: none;
  cursor: pointer;
}
.userlist-item:hover {
  background-color: yellow;
}

.userlist .buttons {
  text-align: center;
}
.userlist .buttons a {
  display: inline-block;
  padding: 0.4em;
  color: #444;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}
.userlist .buttons a:hover {
  background-color: yellow;
}

@media screen and (min-width: 480px) {
  .app_header {
    grid-template-areas: unset;
    grid-template-columns: 1fr 7em 12em;
  }
  .app_header h1 {
    font-size: 188%;
    grid-area: unset;
  }

  .app_header .menu,
  .app_header .username {
    padding-top: 1.2em;
  }

  .app_header .menu {
    grid-area: unset;
  }

  .app_header .username {
    grid-area: unset;
  }

  .calendar-container {
    max-width: 800px;
  }

  .events-datail .times {
    grid-template-columns: repeat(26, 1fr);
  }

  .events-datail form .field {
    display: inline-block;
    width: 44%;
  }

  .events-datail form .field label {
    width: 5em;
  }
}
