body {
  margin: 0;
  padding: 24px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: beige;
}

a {
  color: #00b7ff;
}

.calendar-container {
  display: grid;
  grid-gap: 2px;
  border: 1px solid blue;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 11vh;
  text-align: center;
  background-color: lightblue;
}

.calendar-item {
  border: none;
  background-color: gray;
  color: darkgray;
}
.calendar-item.current {
  background-color: white;
}
.calendar-header {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 110%;
}
.calendar-header.weekend {
  color: salmon;
}
.calendar-buttons {
  padding: 1em;
  text-align: center;
}
